html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: monospace; 
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  margin: 40px auto;
  color: #4169E1;
  text-align: center;
}

.item-list {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 6px 10px;
  border: 1px solid #eee;
  margin: 10px auto;
}

li h4 {
  color: #4169E1;
  margin: 0;
  text-transform: capitalize;
}

li p {
  color: #333;
  margin: 8px 0 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  margin-top: 60px;
  background: #eee;
}

.new-item-form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}

input, select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.field {
  display: inline-block;
  margin: 0 10px;
}

.add-btn {
  color: white;
  border: 0;
  background: #4169E1;
  margin-top: 40px;
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}